
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.Contact{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Abtme{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.thebox{
    width:100%
    background-color:ivory;
}
body {
    background-color: rgb(68, 32, 7);
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
